*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    list-style-type: none;
}

body{
    background-color: hsl(185, 75%, 39%);
    background-image: url(/images/bg-pattern-bottom.svg);
    background-size: 100% 100%;
    background-position: 9rem 15rem;
    background-repeat: no-repeat;
}

/* {
    background-image: url(/images/bg-pattern-top.svg);
} */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 30px;
    /* background-image: url(/images/bg-pattern-top.svg); */
}

/* section{
    background-image: url(/images/bg-pattern-top.svg);
    background-position: left;
    background-repeat: no-repeat;
} */

.motherContainer{
    width: 100%;
    max-width: 375px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 1.5rem;
}

.background{
    height: 10rem;
    background-image: url(/images/bg-pattern-card.svg);
    border-radius: 10px 10px 0 0;
}

img{
    border-radius: 50%;
    border: 5px solid white;
    width: 30%;
    transition: .6s;
}

img:hover{
    transform: scale(1.2);
}

.img_container{

    transform: translateX(100%);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;

}
.txt_container{
    border-bottom: 1px solid hsl(0, 0%, 79%);
    padding-bottom: 1.1rem;
}
.txt_container p{
    text-transform: capitalize;
    text-align: center;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    word-spacing: 1px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

ul li{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

ul li h1{
    color: hsl(229, 23%, 23%);
    padding-bottom: 0.6rem;
}

ul li p{
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: hsl(0, 0%, 59%);
}