*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    list-style-type: none;
}

body{
    background-color: hsl(185, 75%, 39%);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 90px 30px;
}