*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    list-style-type: none;
}

body{
    background-color: hsl(185, 75%, 39%);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 90px 10px;
    /* background-image: url(/images/bg-pattern-top.svg); */
    background-image: url(/images/bg-pattern-bottom.svg);
    background-size: ;
    background-position: bottom;
}

section{
    background-image: url(/images/bg-pattern-top.svg);
    background-position: top;
}

.motherContainer{
    max-width: 375px;
    background-color: white;
}

.background{
    /* background-image: url(/images/bg-pattern-card.svg); */
}